# Api keys are stored in the config file
Config.py

# Don't need any results
Results/*
Old-Results/*

# Skip the virtual environment
VirtualEnv/
venv/

# Skip the intellij specific data for now
.idea/

# Don't worry about pycache files
__pycache__/
*.py[cod]
*$py.class