import Constants as CONSTANTS

physical_microphone_name = ""
api_keys = {
    CONSTANTS.BING_SPEECH: "",
    CONSTANTS.IBM_USERNAME: "",
    CONSTANTS.IBM_PASSWORD: "",
    CONSTANTS.HOUNDIFY_ID: "",
    CONSTANTS.HOUNDIFY_KEY: "",
    CONSTANTS.WIT_AI: "",
    CONSTANTS.GOOGLE_CLOUD_JSON: {
    }
}

